body {
    background-color: green;
}

#good {
    font-size: 100px;
    text-decoration: underline;
    text-decoration-color: red;
}

#get {
    font-size: 80px;
    color: lightgreen;
    background-color: gray;
    border-width: 10px;
    border-color: darkred;
}

#get:hover {
    cursor:pointer;
}

#username {
	font-size: 100px;
	color: lightgreen;
}